<% include partialssemanticui/header %>

<div class="marginTop">
    <div class="ui main text container segment marginTop">
        <div class="ui huge header">
            Add new post
    </div>
        <!-- Form that is used for adding new post to the db-->
        <form class="ui form" action="/posts" method="post">
            <div class="field">
                <input required type="text" name="postTitle" placeholder="post title"/>
            </div>

            <div class="field">
                <textarea required type="text" name="postBody" placeholder="post"></textarea>
            </div>

            <div class="field">
                <input required type="url" name="postImage" placeholder="post image url"/>
            </div>

            <div class="field">
                <button class="fluid ui primary button">Save post</button>
            </div>
        </form>
    </div>

</div>

<% include partialssemanticui/footer %>