</div>

<div class="ui container">

    <footer>
        <p><i class="fa fa-copyright"></i> Page provided by <strong><a href=""><%= author %></a></strong></p>
    </footer>
</div>
<script src="/javascripts/jquery-3.2.0.js"></script>
<script src="/javascripts/semantic.min.js"></script>
</body>
</html>
